.App {
  min-height: 100vh;
  text-align: center;
  background-color: #4441;

  display: grid;
  grid-template: 100px 1fr auto / auto;
  grid-row-gap: 30px;
}
  .App-header {
    background-color: #fff;
  }
  .App-main {
    justify-self: center;
    min-width: 800px;
    background-color: #fff;
  }